{
  "config-version" : "3",
  "models" : [ {
    "type" : "term",
    "path" : "vi_VN_bg_c.lm3",
    "version" : "1"
  }, {
    "type" : "term",
    "path" : "vi_VN_bg_c.lm1",
    "version" : "1"
  }, {
    "type" : "term",
    "path" : "vi_VN_fg_c.lm3",
    "version" : "1"
  }, {
    "type" : "term",
    "path" : "swiftkey.lm3",
    "version" : "1"
  } ],
  "tags" : [ "vietnamese", "vi", "VN", "id:vi_VN", "id:vi", "dictTokenizer", "name:Tiếng Việt" ],
  "ime" : "ime.json",
  "character-map" : "charactermap.json",
  "punctuation" : "punctuation-SDK1.2.json",
  "timestamp" : "2014/09/16 14:46",
  "version" : "100.1"
}